* {
    box-sizing: border-box;
}

body {
    width: 1250px;
    margin: 0 auto;
    background-color: rgb(251, 255, 0);
}
header{
    text-align: center;
    font-size: 50px;
} 
main{
    text-align: center;
    background-color: rgb(160, 110, 110);
    padding-bottom: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}
aside {
    width: 550px;
    background-color: crimson;
    float: left;
    margin-left: 25px;
    padding: 10px;
}
img{
    margin-top: 75px;
    height: 300px;
    width: 300px;
}
footer{
    text-align: center;
    margin-top: 50px;
    background-color: darkblue;
    color: darkgoldenrod;
    font-size: 35px;
    padding: 30px;
    border-top: 10px solid rgb(26,115,216);
}
canvas{
    background-color: darkgreen;
    color: darkkhaki;
}
li{
    padding: 10px;
}